<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALTIME_TRACKER</title>
    <link rel="icon" type="image/x-icon" href="/css/current-location.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1 style="text-align: center; color:aliceblue;">⏳ REALTIME TRACKER</h1>
    
    <div id="map" style="height: 100vh;"></div>
    
    <!-- Weather Information Div -->
    <div id="weather-info" style="display: none; background: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px; position: absolute; top: 20px; right: 20px; width: 300px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
        <h2>Weather Information</h2>
        <p><strong>Temperature:</strong> --°C</p>
        <p><strong>Description:</strong> --</p>
        <p><strong>Humidity:</strong> --%</p>
        <p><strong>Wind Speed:</strong> -- m/s</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js" integrity="sha512-puJW3E/qXDqYp9IfhAI54BJEaWIfloJ7JWs7OeD5i6ruC9JZL1gERT1wjtwXFlh7CjE7ZJ+/vcRZRkIYIb6p4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    
    <script src="/js/script.js"></script>
</body>
</html>
