*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(208, 50, 103);
}

#map{
    width: 100%;
    height: 100%;
}

#weather-info {
    display: none; /* Initially hidden */
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: fixed; /* Fixed position */
    top: 20px;
    right: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it is on top */
}
